{% extends "base.html" %}

{% block content %}


<h2 style="text-align: center;">LIVROS ALUGADOS</h2>


<table class="table table-striped">

  <tr style="background-color: gray;">
    <th style="text-align: center;">CLIENTE</th>
    <th style="text-align: center;">TÍTULO</th>
    <th style="text-align: center;">DEVOLUÇÃO</th>
  </tr>

  {% for livro in instancialivros %}
  
  <td>
    <tr class="{% if livro.is_overdue %}text-danger{% endif %}">
      <td style="text-align: center;">{{livro.cliente.username}}</td>
      <td style="text-align: center;">{{livro.livro.titulo}}</td>
      <td style="text-align: center;">{{livro.devolucao}}</td>
    </tr>
  </td>
  {% endfor %}

</table>

{% endblock %}