{% extends "base.html" %}
{% block content %}

<h1 style="text-align: center;">LIVROS DISPONÍVEIS</h1>
<table class="table table-striped">

  <tr style="background-color: gray;">
    <th style="text-align: center;">TÍTULO</th>
    <th style="text-align: center;">AUTOR</th>
    <th style="text-align: center;">GENERO</th>
    <th style="text-align: center;">ANO</th>

  </tr>

  {% if livros %}
  {% for livro in livros %}
  <td>
    <tr>
      <td style="text-align: center;"><a href="{{ livro.get_absolute_url }}">{{livro.livro.titulo}}</a></td>
      <td style="text-align: center;">{{livro.livro.autor}}</td>
      <td style="text-align: center;">{{livro.livro.genero.all|join:", "}}</td>
      <td style="text-align: center;">{{livro.livro.ano}}</td>
    </tr>
  </td>
  {% endfor %}
  {% else %}
  <p>Todos os livros estão alugados.</p>
  {% endif %}
</table>
{% endblock %}