{% extends "base.html" %}

{% block content %}

<h1>Lista de Autores</h1>

{% if autorList %}

<table class="table">

  <tr>
    <th scope="col">Nome</th>
    <th scope="col">Sobrenome</th>
    <th scope="col">Data de Nascimento</th>
    <th scope="col">Data de Falecimento</th>
  </tr>

  <ul>
    {% for autor in autores %}
    <li> 
      <a href="{{ autor.get_absolute_url }}">
        {{autor}} ({{ autor.data_nasc }}
        - {% if autor.data_falec %}{{autor.data_falec}}{% endif %})
      </a>
    </li>
    {% endfor %}
  </ul>

</table>
{% else %}
<p>Não há autores disponíveis.</p>
{% endif %}

{% endblock %}