{% extends "base.html" %}
{% block content %}

<h1>Lista de Livros</h1>
<table class="table table-striped">

  <tr style="background-color: gray;">
    <th style="text-align: center;">Titulo</th>
    <th style="text-align: center;">Autor</th>
    <th style="text-align: center;">Genero</th>
    <th style="text-align: center;">Ano</th>

  </tr>

  {% if livros %}
  {% for livro in livros %}
  <td>
    <tr>
      <td style="text-align: center;">{{livro.livro.titulo}}</td>
      <td style="text-align: center;">{{livro.livro.autor}}</td>
      <td style="text-align: center;">{{livro.livro.genero.all|join:", "}}</td>
      <td style="text-align: center;">{{livro.livro.ano}}</td>
    </tr>
  </td>
  {% endfor %}
  {% endif %}
</table>
{% endblock %}