{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center;">AUTORES</h1>

<table class="table table-striped">

  <tr style="background-color: gray;">
    <th style="text-align: center;">AUTOR</th>
    <th style="text-align: center;">SOBRENOME</th>
    <th style="text-align: center;">NASCIMENTO</th>
    <th style="text-align: center;">FALECIMENTO</th>

  </tr>

  {% if autores %}
  {% for autor in autores %}
  <td>
    <tr>
      <td style="text-align: center;"><a href="{{ autores.get_absolute_url }}">{{autor.nome}}</a></td>
      <td style="text-align: center;">{{autor.sobrenome}}</td>
      <td style="text-align: center;">{{autor.data_nasc}}</td>
      <td style="text-align: center;">{% if autor.data_falec %}{{autor.data_falec}}{% endif %}</td>
    </tr>
  </td>
  {% endfor %}
  {% else %}
  <p>Não há autores</p>
  {% endif %}
</table>

{% endblock %}