{% extends "base.html" %}
{% block content %}

<h2 style="text-align: center;">Meus livros alugados</h2>

<table class="table table-striped">

  <tr style="background-color: gray;">
    <th style="text-align: center;">Cliente</th>
    <th style="text-align: center;">Titulo</th>
    <th style="text-align: center;">Autor</th>
    <th style="text-align: center;">Genero</th>
    <th style="text-align: center;">Ano</th>

  </tr>

  {% if meuslivros %}
  {% for livro in meuslivros %}
  <td>
    <tr>
      <td style="text-align: center;">{{livro.cliente.username}}</td>
      <td style="text-align: center;">{{livro.livro.titulo}}</td>
      <td style="text-align: center;">{{livro.livro.autor}}</td>
      <td style="text-align: center;">{{livro.livro.genero.all|join:", "}}</td>
      <td style="text-align: center;">{{livro.livro.ano}}</td>
    </tr>
  </td>
  {% endfor %}
  {% endif %}
</table>

{% endblock %}